@model IEnumerable<EducacionEnCasa.Models.Matricula>
@using EducacionEnCasa.ViewsModels;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Fecha Matricula
            </th>
            <th>
                Estudiante
            </th>
            <th>
                Nombre Estudiante
            </th>
            <th>
                ID Curso
            </th>
            <th>
                Nombre Curso
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (MatriculaViewsModels item in ViewBag.sListMatriculas)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaMatricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstudiante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreEstudiante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCurso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCurso)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
